* {
    padding: 0;
    margin: 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

.container_sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
    row-gap: 25px;
    padding: 0px 0px 15px 0px;
    width: 17%;
    border-right: 1px solid rgba(194, 194, 194, 0.652);

    .img_box img {
        width: 150px;   
        padding: 20px 0px 20px 20px;
        user-select: none;
        cursor: pointer;
    }

    .bgn {
        @include flex-center();
        cursor: pointer;
        flex-direction: column;
        row-gap: 25px;
        padding-left: 20px;
        .home_box,.search_box,
        .create_box,.profile_box {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            width: 80%;
            padding: 10px 10px;
            user-select: none;
            &:hover {
                background: rgba(199, 199, 199, 0.33);
                border-radius: 10px;
            }
        }
        .images_box {
            width: 22px;
        }
            
    }

    .logout_box {
        display: flex;
        padding: 10px;
        position: relative;
        top: -20px;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(33, 33, 248, 0.861);
            column-gap: 5px;
            padding-right: 200px;

            img {
                width: 30px;
                user-select: none;
            }

            &:hover {
                color: blue;
            }

            &:active {
                transform: translateY(-1px);
            }
        }

        &:hover {
            background: rgba(199, 199, 199, 0.33);
            border-radius: 10px;
        }
    }
}